<div class="hidden imgUploaded">
    {{ form_widget(form.url, {'attr' : {'class' : 'hidden', 'value': '__path__' }}) }}
    {{ form_widget(form.annuaire, {'attr' : {'class' : 'hidden', 'value' : annuaire.id ~ ""}}) }}
</div>