{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid main-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="widget-container stats-container" style="min-height:200px;max-height:400px">
                        <div class="col-md-6" style="padding-top: 35px;height:200px">
                            <div class="number">
                                2
                            </div>
                            <div class="text">
                                Petites annonces à modérer
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 35px;height:200px">
                            <div class="number">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <div class="text">
                                Pas d'infos à modérer
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Weather -->
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="home_logo-o"></div>
                </div>
            </div>
        </div>
{% endblock %}
