{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des villes
                        </div>
                        <div class="widget-content padded clearfix">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <table class="table table-bordered table-striped" id="dataTable1">
                                        <thead>
                                            <th> Ville </th>
                                            <th> Nombre de bornes </th>
                                        </thead>
                                        <tbody>
                                        {% for ville in villes %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('borne_by_city', { 'ville': ville.ville }) }}">
                                                        {{ ville.ville }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ ville.number }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#dataTable1').dataTable();
    </script>
{% endblock %}
