<div class="row">
    <div class="col-xs-7">
        {{ form_widget(form.borne, {'attr' : {'class' : 'select2 borneInput' }}) }}
    </div>
    <div class="col-xs-4">
        {{ form_widget(form.distance, {'attr' : {'class' : 'form-control' }}) }}
    </div>
    <div class="deleteForm col-xs-1">Sup</div>
</div>
{{ form_widget(form.annuaire, {'attr' : {'class' : 'hidden', 'value' : annuaire.id}}) }}