{% extends 'AppBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container main-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading">
                            <i class="fa fa-table"></i>Liste des types d'infos utiles
                        </div>
                        <div class="heading">
                            <a href="{{ path('type_infos_new') }}">
                                <i class="fa fa-plus"></i>Ajouter un type
                            </a>
                        </div>
                        <div class="widget-content padded clearfix">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <table class="table table-bordered table-striped" id="dataTable1">
                                        <thead>
                                            <th> Nom </th>
                                        </thead>
                                        <tbody>
                                        {% for type in types %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('type_infos_edit', { 'id': categorie.id }) }}">
                                                        {{ type.nom }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#dataTable1').dataTable();
        });
    </script>
{% endblock %}
